.notfound{
    display:flex;
    height:100vh;
    justify-content: center;
    align-items:center;
}

.not-center{
    width:90%;
    text-align:center;
}

.not-center h1{
    font-weight:bold;
    font-size:55px;
    color:red;
}

.not-center h3{
    color:red;
}

.not-center .not-button{
    padding:15px;
    background:var(--primary);
    color:var(--white);
}