.hero{
    position: relative;
    margin-bottom: 15rem;
    font-family: 'Montserrat';
}
.hero-left{
    background-color: #D17604;
    height: 376px;
    padding: 5rem 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-family: 'Montserrat';
}
.hero-left-center h1{
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}
.hero-left-center p{
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
}
.hero-left-center .inputContain{
    position: relative;
}
.hero-left-center button{
    position: absolute;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: black;
    width: 5rem;
    right: 54px;
    top: 2px;
    cursor: pointer;
}
.hero-left-center button:hover{
    background-color: #D17604;
    color: white;
}
.hero-left-center input{
    border-radius: 5px;
    height: 2rem;
    border: white 2px solid;
    background-color: #D17604;
    color: white;
    width: 20rem;
    padding: 0.2rem 0.8rem;
}
.hero-right{
    border-top: 15px solid white;
    border-left: 15px solid white;
    position: absolute;
    top: 180px;
    left: 850.59px
}

.hero-right-center img{
    width: 426.41px;
height: 464.37px;;
}

@media (max-width: 800px){
    .hero{
        width: 100vw;
    }
    .hero-right{
        display: none;
    }
    .hero-left{
        width: 100;
        padding: 5rem 0;
        align-content: center;
        justify-content: center;
        overflow: hidden;
    }
    .hero-left-center button{
        right: 26px;
    }
}