.mobile{
    background:var(--light);
    padding:20px 0 0 0;
}

.mobile-center{
    background:var(--fade);
    width:80%;
    margin:0 auto;
    display:flex;
    flex-direction: column
}


/* THE SECTION OF THE MOBILE LEFT */
.mobile-left{
    height:400px;
}

.mobile-left img{
    width:100%;
    height:100%;
    object-fit: cover;
}


/* THE SECTION OF THE MOBILE RIGHT */
.mobile-right{
    height:400px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.mobile-right-center{
    width:80%;
}


.mobile-right-center h4{
    color:var(--fades);
    line-height: 0px;
}

.mobile-right-center h2{
    color:var(--secondary);
    font-family:'DM Sans';
    font-family:30px;
}

.mobile-right-center p{
    color:var(--fades);
    font-family:'Montserrat';
    font-size:15px;
    font-weight:normal;
}

.mobile-button{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:0;
    width:60%
}


.mobile-button img{
    width:65%;
    height:55px;
    object-fit: cover;
}



/* =============================================== */
/* THE SECTION OF THE MEDIA QUERY */
@media screen and (min-width:900px){
    .mobile{
        padding:70px 0;
    }
    
    .mobile-center{
        height:400px;
        flex-direction: row;
    }
    
    
    /* THE SECTION OF THE MOBILE LEFT */
    .mobile-left{
        width:50%;
        height:400px;
    }
    
    
    /* THE SECTION OF THE MOBILE RIGHT */
    .mobile-right{
        width:50%;
        height:400px;
        width:45%;
    }
    
}


@media screen and (max-width:1120px){
    .mobile-center{
        width:100%;
    }
}


@media screen and (max-width:500px){
    .mobile-right{
        height:340px;
    }

    .mobile-right-center{
        width:95%;
        padding:0 15px;
    }

    .mobile-button{
        width:70%;
    }
}