.reconmended{
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90vw;
}
.reconmended-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.reconmended-container .inner-container{
    display: flex;
}
.box{
    border: 1.5px solid #D17604;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 4px rgba(62, 42, 18, 0.15);
    border-radius: 8px;
    padding: 10px 20px;
    width: 200px;
    height: 163px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

@media (max-width: 800px){
    .reconmended-container{
        flex-direction: column;
    }
    .reconmended-container .inner-container{
    flex-direction: column;
}
}