.resource{
    position: relative;
    margin-bottom: 180px;
    font-family: 'Montserrat';
}
.resource-right{
    background-color:rgba(209, 118, 4, 0.22);
    height: 376px;
    padding: 5rem 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    font-family: 'Montserrat';
}
.resource-right-center{
   margin-top: 2.5rem;
}
.resource-right-center h1{
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}
.resource-right-center p{
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
}
.resource-right-center button{
    padding: 12px 12px;
    border-radius: 15px;
    background-color: #D17604;
    color: white;
    width: 9.5rem; 
    border: none;
    cursor: pointer;
}
.resource-right-center button:hover{
    background-color: white;
    color: #D17604;
    border: 2px solid #D17604
}
.resource-left{
    border-bottom: 15px solid #D17604;
    border-right: 15px solid #D17604;
    position: absolute;
    top: 100px;
    right: 850.59px;
}

.resource-left-center img{
    width: 403.26px;
    height: 328.68px;
}