.sub_component{
    background: #F7F9FB;
    text-align:center;
    padding: 20px 0 80px 0;
}

.sub_component h2{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    /* line-height: 100px; */
    color:var(--primary);
    margin-top:50px;
}

.sub_component .tips{
    color:var(--fades);
    width:90%;
    margin:auto;
    margin-bottom:50px;
    margin-top:0;
    font-family:'DM Sans'
}

.sub-center{
    display: grid;
    grid-template-columns: 1fr;
    -webkit-column-gap: 24em;
    -moz-column-gap: 4rem;
    column-gap: 4rem;
}

.sub-card{
    margin-bottom:3rem;
    padding:15px;
}

.card-header{
    display:flex;
    align-items:center;
    margin-bottom:1rem;
}

.card-left{
    padding:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    height:30px;
    width:30px;
}

.card-left img{
    width:80%;
    height:80%;
}


.card-right{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: -0.5px;
    color: var(--secondary);
    margin-left:20px;
    width:70%;
    text-align:left;
}

.card-footer{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: -0.5px;
    color: var(--fades);
    text-align:left;
}



@media screen and (min-width: 676px) {
    .sub-center {
      grid-template-columns: 1fr 1fr;
    }

    .sub_component .tips{
        width:80%;
    }
}


/* ================================== */
/* THE SECTION OF THE MEDIA QUERY */
@media screen and (min-width:900px){
    .sub_component .tips{
        width:50%;
    }

    .sub-center{
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        -webkit-column-gap: 24em;
        -moz-column-gap: 4rem;
        column-gap: 4rem;
    }

    .sub-card{
        box-shadow:var(--shadoos);
        border-radius:5px;
    }

    .card-left img{
        width:50px;
        height:50px;
    }
    


}




@media screen and (min-width:200px) and (max-width:425px){
    .sub_component{
        padding: 0px 0 20px 0;
    }

    .sub_component h2{
        font-size:23px;
        line-height:30px;
        padding:30px;
    }

}