@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Mukta', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@import url("./styles/Config.css");



/* global variables */
:root{
  --white: #fff;
  --primary: #008DB9;
  --secondary: #016F92;
  --red: #EA4335;
  --light: #eaeced;
  --fade:#eaecedcb;


  /* --fade: #5a6bbf;
  --main: #93d823;
  --main-light: #93d823a4;
  --primary-light: #072864c4; */
  
  --shadows: 0px 22px 24px  rgba(65, 111, 244, 0.2);
  --shadow: 15px 15px 25px #ddd; 
  --shadoos: 0px 0px 7px rgba(65, 111, 65 0.2);
  --transition: all 0.3s linear;
}

a{
  text-decoration:none;
}

ul{
  list-style-type:none;
}